<head>
    <title>{{titlePage}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"/>
    <link href="{{cssGlobal}}" rel="stylesheet"/>
    <link href="{{cssFile}}" rel="stylesheet"/>
    <link href="https://unpkg.com/tailwindcss@3.1.8/src/css/preflight.css" rel="stylesheet"/>
    <html prefix="og: https://ogp.me/ns#">

        <meta name="title" content="{{openGraphTitle}}">
        <meta name="description" content="{{openGraphDescription}}">

        <meta property="og:type" content="website">
        <meta property="og:url" content="{{openGraphUrl}}">
        <meta property="og:title" content="{{openGraphTitle}}">
        <meta property="og:description" content="{{openGraphDescription}}">
        <meta property="og:image" content="{{openGraphImg}}">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{openGraphUrl}}">
        <meta property="twitter:title" content="{{openGraphTitle}}">
        <meta property="twitter:description" content="{{openGraphDescription}}">
        <meta property="twitter:image" content="{{openGraphImg}}">

        <script src="{{jsGlobal}}"></script>
    </head>