<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block titlePage %}{% endblock %}

    </head>

    <body class="flex">

        <nav class="flex flex-col bg-[#6758c5] w-1/6 h-screen">
            <h1 class="text-gray-300 font-medium pt-4 pb-8 px-4">ADMIN</h1>

            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/articles?page=1">Articles</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/">Homepage</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="">Header</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="">Footer</a>
        </nav>

        <section class="w-full px-40 py-10">
            {% block section %}{% endblock %}
        </section>

        <script src="https://cdn.tailwindcss.com?plugins=forms"></script>

    </body>
</html>