<header class="header">
    <div class="navbar">
        <nav class="nav_list">
            {% for navlink in navlinks %}
                <a class="nav_link" href="{{navlink.href}}">{{navlink.title}}</a>
            {% endfor %}
        </nav>
    </div>

</header>