{% extends "src/components/_layout.njk" %}
{% import "src/components/_button.njk" as button %}
{% import "src/components/_icon.njk" as icon %}
{% block titlePage %}
    <title>Catégories</title>
{% endblock %}

{% block section %}

    <h1 class="text-2xl mb-10 font-semibold">Catégories</h1>

    <div class="flex mt-6 items-center justify-between">
        <h2 class="text-md font-semibold">Editer une categorie</h2>
        <form action="/article-category/edit" method="POST" id="editCategory" >
            {{button.primary("Sauvegarder",{"type":"submit", "form":"editCategory"})}}
        </form>
    </div>
    <div class="flex flex-wrap">
        {% for articleCategory in articleCategories %}
            {% set i = loop.index0 %}
            <div class="flex mt-4">
                <input form="editCategory" value="{{articleCategory.name}}" id="name" name="name_{{i}}" class="text-sm mr-0.5 py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2"/>

                <div  class="ml-4 flex items-center">

                    <form class="inline-flex mr-8" action="/article-category/delete" method="POST" >
                        <input type="hidden" name="id" value="{{articleCategory.id}}"/>
                        {{button.primary(icon.trash(),{"type":"submit"})}}
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>

    <form method="POST" action="/article-category/add" >
        <div class="flex items-end">
            <div class="flex flex-col">
                <label for="name" class="pb-2 pr-2 font-semibold mt-16">Ajouter une catégorie</label>
                <input required name="name" id="name" class="text-sm py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2 mr-4"/>
            </div>
            <div  class="ml-4">
                {{button.primary("Ajouter",{"type":"submit"})}}
            </div>
        </div>
    </form>

{% endblock %}