{% extends "src/components/_layout.njk" %}
{% import "src/components/_button.njk" as button %}

{% block titlePage %}
    <title>Footer</title>
{% endblock %}

{% block section %}
    <main>

        <h1 class="text-2xl pb-6 font-semibold">Footer</h1>

        <form action="/footer/link/edit" method="POST">
            <div class="flex mt-6 items-center justify-between">
                <h2 class="text-md font-semibold">Liens du footer</h2>
                <div>
                    {{button.primary("Sauvegarder",{"type":"submit"})}}
                </div>
            </div>

            {% for footerLink in footerLinks %}
                {% set i = loop.index0 %}
                <div class="flex">
                    <div class="flex flex-col mt-4 mr-4">
                        {% if i === 0 %}
                            <label for="title" class="pb-2 font-semibold">Titre</label>
                        {% endif %}
                        <input id="title" value="{{footerLink.title}}" name="title_{{i}}" class="text-sm mr-0.5 py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2"/>
                    </div>
                    <div class="flex flex-col mt-4 ml-16">
                        {% if i === 0 %}
                            <label for="href" class="pb-2 font-semibold">Lien</label>
                        {% endif %}
                        <input id="href" value="{{footerLink.href}}" name="href_{{i}}" class="text-sm mr-0.5 py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2"/>
                    </div>
                </div>
            {% endfor %}
        </form>
        {# 
        <h2 class="text-md pb-4 font-semibold mt-16">Ajouter un lien</h2>
        <form action="/footer/link/add" method="POST" >
            <div class="flex items-end justify-between">
                <div class="flex flex-col">
                    <label for="title" class="pb-2 pr-2 font-semibold">Titre</label>
                    <input required name="title" id="title" class="py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2 mr-4"/>
                </div>
                <div class="flex flex-col">
                    <label for="href" class="pb-2 pr-2 font-semibold">Lien</label>
                    <input required name="href" id="href" class="py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2"/>
                </div>
                <div  class="ml-4">
                    {{button.primary("Ajouter",{"type":"submit"})}}
                </div>
            </div>
        </form> #}

        <div class="border border-t-black border-transparent mt-16">
            <form action="/footer/socialmedia/edit" method="POST">
                <div class="flex mt-6 items-center justify-between">
                    <h2 class="text-md pb-4 font-semibold">Réseaux sociaux</h2>
                    <div>
                        {{button.primary("Sauvegarder",{"type":"submit"})}}
                    </div>
                </div>
                <div class="flex flex-wrap">
                    {% for socialMedia in footerSocialMedia %}
                        {% set i = loop.index0 %}

                        <div class="flex flex-col mt-4 mr-8">

                            <label for="href" class="pb-2 font-semibold">{{socialMedia.name}}</label>

                            <input value="{{socialMedia.href}}" id="href" name="href_{{i}}" class="text-sm mr-0.5 py-1 w-80 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2"/>
                        </div>

                    {% endfor %}
                </div>
            </form>

        </div>

    </main>
{% endblock %}