{% extends "src/components/_layout.njk" %}
{% import "src/components/_button.njk" as button %}
{% import "src/components/_icon.njk" as icon %}

{% block titlePage %}
    <title>Tableau de bord</title>
{% endblock %}
{% block jsFile %}
    <script src="delete-article.js"></script>
{% endblock %}

{% block section %}

    <header>

        <h1 class="text-2xl pb-6 font-semibold">Tableau de bord</h1>

        <div class="py-2 flex ">
            <div class="mr-4 " >
                <a class="text-[#6758c5] text-sm mr-2 flex items-center" target="_blank" href="https://ornikar-dynamique.vercel.app">Site web <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-[#6758c5] ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/>
                    </svg>
                </a>

            </div>
            <div class="mr-4 ">
                <a class="text-[#6758c5] text-sm mr-2 flex items-center" target="_blank" href="https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fanalytics%2F#/p350531463/reports/intelligenthome">Analytics <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-[#6758c5] ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/>
                    </svg>
                </a>
            </div>
        </div>

    </header>
    <main>

        <h2 class="text-lg font-semibold  pt-8 pb-2">3 derniers articles</h2>
        <div class="border border-black rounded-md">
            {% for article in highlightArticles %}
                {% include "src/template/delete-article-modal.njk" %}
                {% set i = loop.index0 %}
                <div class="border border-transparent border-b-black last:border-b-transparent flex px-3 py-3 items-center">
                    <div class="w-1/6 ">
                        <img src="{{article.img}}"/>
                    </div>
                    <div class="w-full pl-4">
                        <h3 id="article-title-{{i}}" class="text-base font-semibold flex">{{article.title}}</h3>
                        <p class="text-sm text-white bg-[#6758c5] font-medium rounded-md inline-block px-2 py-0.5 mt-2">{{article.categoryId | getCategoryNameById(articleCategories)}}</p>

                        <div class="flex mt-2 justify-between items-center">
                            <div>
                                <p class="text-xs">
                                    {% if article.updatedAt === "" %}Créé le {{article.createdAt | formatDate()}}
                                    {% else %} Dernière modification le {{article.updatedAt| formatDate()}}
                                    {% endif %}
                                </p>
                            </div>

                            <div class="text-sm">
                                {% if article.status === "published" %}
                                    <a target="_blank" href="https://ornikar-dynamique.vercel.app/blog/{{article.title | createArticleSlug(article.id)}}.html">
                                        {{button.primary("<span>Publié</span>" + icon.openTab())}}
                                    </a>
                                {% else %}
                                    <p class="text-sm text-white bg-[#6758c5] font-medium rounded-md inline-block px-2 py-0.5 mr-2">Brouillon</p>
                                {% endif %}
                                <a href="/articles/{{article.id}}">
                                    {{ button.primary("Editer") }}
                                </a>
                                {{button.primary("Supprimer",{"type": "button", "id": "deleteArticleButton", "data-modal-is-open":"false"})}}
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="mt-3">
            <a class="text-[#6758c5] text-sm" href="/articles">Voir tous les articles</a>
        </div>
    </main>
{% endblock %}