<!DOCTYPE html>
<html lang="en">
    <body>
        <section class="homepage">

            <h1 class="section1_title">Tableau de bord</h1>

            <div class="section1_links">
                <a class="link" href="">Site Web</a>
                <a class="link" href="">Analytics</a>

            </div>
            <div class="last_articles">
                <h2 class="last_articles_title">3 derniers articles</h2>
                <div class="articles_list">
                    <div class="article">
                        <img class="img_article" src="{{}}"/>
                        <h3 class="title_article">{{}}</h3>
                    </div>
                </div>
            </div>

        </section>

    </body>

</html>