{% extends "src/components/_layout.njk" %}
{% import "src/components/_button.njk" as button %}
{% block titlePage %}
    <title>Articles / Edition</title>
{% endblock %}

{% block section %}

    <main>
        <div class="flex justify-between pb-8">
            <h1 class="text-2xl font-semibold">Articles / Edition</h1>
        </div>
        <a href="/articles?page=1" class="flex items-center mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"/>
            </svg>Retour aux articles</a>

        <form method="POST">
            <p class="pb-4 font-semibold">ID : {{article.id}}</p>
            <div class="flex flex-col pb-4">
                <label for="title" class="pb-2 font-semibold">Titre</label>
                <textarea required="required" id="title" name="title" rows="1" class="resize-none mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6">{{article.title}}</textarea>
            </div>

            <div class="pb-4">
                <label for="category" class="pb-2 font-semibold">Catégorie</label>
                <div class="mt-2">
                    <select id="category" name="category" class="py-1.5 focus:ring-0 border border-gray-300 pl-2 rounded-md outline-none focus:border-indigo-600 focus:border-2 py-1 text-sm">
                        {% for articleCategory in articleCategories %}
                            <option value="{{articleCategory.name}}" {% if articleCategory.name === article.category %}selected="selected"{% endif %}>{{articleCategory.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="pb-4">
                <label class="font-semibold">Statut</label>
                <div class="flex mt-2">
                    <div>
                        <input type="radio" name="status" value="draft" {% if article.status === "draft" %}checked="checked"{% endif %} class="text-indigo-600 focus:ring-0">
                        <label class="text-sm">Brouillon</label>
                    </div>

                    <div class="ml-12">
                        <input type="radio" name="status" value="published" {% if article.status === "published" %}checked="checked"{% endif %} class="text-indigo-600 focus:ring-0">
                        <label class="text-sm">Publié</label>
                    </div>
                </div>
            </div>

            <div class="flex flex-col pb-4">
                <label for="image" class="pb-2 font-semibold">Image</label>
                <textarea required="required" id="img" name="img" rows="1" class="resize-none mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6">{{article.img}}</textarea>
            </div>

            <div>
                <label for="content" class="pb-2 font-semibold">Contenu</label>
                <div class="mt-2">
                    <textarea required="required" id="content" name="content" rows="10" class="resize-none mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6">{{article.content}}</textarea>
                </div>
            </div>

            <div class="mt-4">
                {{button.primaryButton("Sauvegarder",{"type": "submit"})}}
            </div>

        </form>

    </main>

{% endblock %}