<!DOCTYPE html>
<html lang="en">

    {% import "src/components/_button.njk" as button %}
    {% import "src/components/_icon.njk" as icon %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block titlePage %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="48x48" href="/favicon/favicon-48.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16.png">
        {% block jsFile %}{% endblock %}
    </head>

    <body class="flex">
        <nav class="flex flex-col bg-[#6758c5] w-56 h-screen fixed">
            <a class="text-gray-300 font-medium py-3 mb-4 px-4 hover:text-white hover:bg-[#4c34e0] block rounded-md" href="/">ADMIN</a>

            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/articles">Articles</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/categories">Catégories d'articles</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/homepage">Homepage</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/header">Header</a>
            <a class="text-gray-300 hover:bg-[#4c34e0] hover:text-white block rounded-md px-4 py-2 text-base font-medium" href="/footer">Footer</a>
            <div class="flex flex-col mt-auto mb-4">
                <p class="break-all text-gray-300 flex rounded-md px-4 py-2 text-sm font-medium items-center">{{icon.user()}}{{userEmail}}</p>
                <form method="POST" action="/logout" class="px-2 py-2">
                    {{button.primary(icon.logout() +"<span>Se déconnecter</span>",{"type":"submit"})}}
                </form>
            </div>
        </nav>

        <section class="w-full px-40 py-10 ml-56">
            {% block section %}{% endblock %}
        </section>

        <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>

    </body>
</html>